html, body {
  background-color: #7a85a1;
  background-image: url("../Images/SkyGrade.JPG");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  font-family: Courier;
  /* max-width: 2400px; */
  margin: 0;
  padding: 0;
}

h1 {
  color: #ac5c03;
	font-family: 'Cinzel Decorative';
  font-size: 40px;
  font-style: italic;
  text-align: right;
  margin-right: 2%;
}

h3 {
  color: #563900c2;
  font-family: georgia;
  font-size: 25px;
  text-align: center;
}

h4 {
  color: #0e3825;
	font-family: 'Cinzel Decorative';font-size: 22px;
  font-style: italic;
  background-image: linear-gradient(to right, #ac7303, #6f050582);
  border: 5px solid #073107;
}

p {
  color: #0a2924;
  font-family: georgia;
  font-size: 15px;
  margin-right: 10%;
  margin-left: 2%;
  /* text-align: left; */
}

:-webkit-any-link {
  color: #9e5f15;
  cursor: pointer;
}
/***************************************/
#地図1 {
  position: relative !important;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  border: 10px solid #073107;
}

#地図2 {
  position: relative !important;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  border: 10px solid #073107;
}
/***************************************/
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  background-color: #003b0ac4;
  padding: 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.aside {
  background-color: #00474017;
  padding: 15px;
  color: #403f49;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.aside2 {
  background-color: #707da2;
  padding: 15px;
  color: #403f49;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.infobar1 {
  background-color: #07680b6b;
  padding: 1px;
}

#infobar1 {
  color: #d6d09f;
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

.infobar2 {
  background-color: #00746a1a;
  background-image: linear-gradient(to right, #00746a08,#ac7303);
  color: #ffffff;
  text-align: left;
  font-size: 12px;
  padding: 15px;
}

.infobar3 {
  background-image: linear-gradient(to right, #6f050582,#ac7303);
  padding: 15px;
}

#conclu {
  font-style: italic;
  color: #333000;
  text-align: center;
  font-size: 15px
}
#footer {
  background-color: #0d2500c9;
  color: #d6d09f;
  text-align: center;
  font-size: 15px;
  padding: 15px;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-s-2 {width: 16.66%;}
  .col-s-9 {width: 75%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-7 {width: 58.33%;}
}
