html, body {
  background-color: #939fca;
  background-image: url("images/SkyGrade.JPG");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  background-position: center;
  font-family: Courier;
  max-width: 900px;
  margin: auto;
}

h1 {
  color: #0e3825;
	font-family: 'Cinzel Decorative';font-size: 22px;
  font-style: italic;
  text-align: right;
}

h3 {
  color: #a35716;
  font-family: georgia;
  font-size: 20px;
  text-align: center;
}

p {
  color: #494646;
  font-family: georgia;
  font-size: 15px;
  margin-right: 10%;
  margin-left: 2%;
  text-align: left;
}

.highlights1 {
  color: #ffffff;
  background-color: #00c0b729;
  border: 2px solid #f1f3f133;
  font-style: italic;
  margin-left: 20%;
  margin-right: 10%;
  text-align: left;
}

a:-webkit-any-link {
  color: #9e5f15;
  cursor: pointer;
}

#legend {
  line-height: 0px;
  background: none;
  opacity: 0.9;
  padding:5px 25px 5px 0px;
}
