body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 97%;
  width: 100vw;
  background-image: linear-gradient(to right, #343332, white);
}

p {
  color: #42e800;
  text-decoration: overline;
  text-shadow: 2px 2px 5px #000000;
}

.diamond {
  font-size: 27px;
}
